<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>All actors</title>
</head>
<body>

<p><a href="/">Main page</a></p>

<p><a href="/actors/new">
    <input type="button" value="Create new actor" />
</a></p>

<table border="1" style="width:300px">
    <tr th:each="actor : ${actors}">
        <td>
            <a th:href="@{/actors/{id}(id=${actor.getId()})}"
            th:text="${actor.getId()} + '. ' + ${actor.getName()}">
                Actor
            </a>
        </td>
    </tr>
</table>
</body>
</html>