<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>All genres</title>
</head>
<body>
<p><a href="/">Main page</a></p>

<p><a href="/genres/new">
  <input type="button" value="Create new genre" />
</a></p>

<table border="1" style="width:300px">
  <tr th:each="genre : ${genres}">
    <td>
      <a th:href="@{/genres/{id}(id=${genre.getId()})}"
         th:text="${genre.getId()} + '. ' + ${genre.getName()}">
        Genre
      </a>
    </td>
  </tr>
</table>
</body>
</html>